.main-atividade{
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    .menu-nav{
        position: absolute;
        top: -91px;
        display: flex;
        width: 30%;
        height: 540px;
        @include tablet{
            width: 0;
        }
    }
}
.atividade{
    width:100%;
    padding-bottom: 3.5rem;
    .banner-atividade{
        background: url('../imgs/bg-residencia.jpg') no-repeat;
        background-size: cover;
        height: 500px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-position: center;
        @include tablet{
            height: 250px;
        }
        h2{
            color: #fff;
            text-transform: uppercase;
            letter-spacing: 5px;
            font-size:2rem;
            font-weight: bold;
            @include tablet{
                font-size: 1.1rem;
            }
        }
    }
    .atividades-page{
        padding: 3.5rem 0;
        @include tablet{
            padding: 3.5rem .5rem;
        }
        .content-atividades-page{
            display: flex;
            flex-wrap: wrap;
            @include tablet{
                flex-direction: column;
            }
            article{
                width: 31.8%;
                margin: 0 .5rem;
                margin-bottom: 3rem;
                @include tablet{
                    width: 100%;
                    margin: 1rem 0;
                }
                img{
                    width: 100%;
                    height: 500px;
                    object-fit: cover;
                    margin-bottom: 2.5rem;
                    transition: all .5s ease-in-out;
                    &:hover{
                        filter: brightness(0.5);
                    }
                }
                h4{
                    color: #000;
                    text-transform: uppercase;
                    font-family: 'Lato', sans-serif;
                    font-size: 1rem;
                    letter-spacing: 4px;
                    font-weight: bold;
    
                }
                p{
                    color:#666666;
                    font-size: .8rem;
                    margin-bottom: 1.3rem;
                }
                a{
                    text-decoration: none;
                }
                .saiba{
                    font-size: .8rem;
                    color: #000;
                    padding: .5rem;
                    border: solid 1px #000;
                    border-left: 0;
                    border-right: 0;
                    font-weight: 600;
                    letter-spacing: 2px;
                    text-decoration: none;
                    transition: all ease-in-out .5s;
                    &:hover{
                        background: #000;
                        color: #ffff;
                    }
                }
            }
        }
    }
}

