.main-contato{
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    .menu-nav{
        position: absolute;
        top: -91px;
        display: flex;
        width: 30%;
        height: 540px;
        @include tablet{
            width: 0;
        }
    }
}
.page-contato{
    width: 100%;
    .banner-contato{
        background: url('../imgs/bg-contato.png') no-repeat;
        background-size: cover;
        height:  500px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-position: center;
        @include tablet{
            height: 250px;
        }
        h2{
            color: #fff;
            text-transform: uppercase;
            letter-spacing: 5px;
            font-size: 3rem;
            font-weight: bold;
            @include tablet{
                font-size: 1.1rem;
            }
        }
    }
    .contato{
        .cont-contato{
            display: flex;
            padding: 2.5rem 0;
            justify-content: space-between;
            @include tablet{
                flex-direction: column;
            }
            h2{
                color: #000;
                text-transform: uppercase;
                font-family: 'Lato', sans-serif;
                font-size: 1.3rem;
                letter-spacing: 4px;
                font-weight: bold;
                @include tablet{
                    font-size: .9rem;
                    letter-spacing: 3px;
                }
            }
            .col-form{
                width: 48%;
                
                @include tablet{
                    width: 100%;
                    margin-bottom:4rem;
                }
                .wpcf7{
                    display: flex;
                    flex-direction: column;
                    .input-form{
                        display: flex;
                        align-items: center;
                        padding: 1.5rem 0;
                        border-top: solid 1px #e1e5ef;
                        @include tablet{
                            flex-direction: column;
                            align-items: flex-start;
                        }
                        label{
                            color: #000;
                            text-transform: uppercase;
                            font-family: 'Lato', sans-serif;
                            font-size: 1rem;
                            font-weight: bold;
                            margin-bottom: 0;
                            letter-spacing: 2px;
                            // margin-right: 1.5rem;
                            width: 165px;
                            @include tablet{
                                margin-bottom: .7rem;
                            }
                        }
                        input{
                            width: 80%;
                            border: solid 1px #e1e5ef;
                            color: #a8a8a8;
                            padding: 0.6rem 1rem;
                            &::placeholder{
                                color:#a8a8a8;
                            }
                        }
                    }
                    .textarea-form{
                        display: flex;
                        flex-direction: column;
                        padding: 1.5rem 0;
                        border-top: solid 1px #e1e5ef;
                        label{
                            color: #000;
                            text-transform: uppercase;
                            font-family: 'Lato', sans-serif;
                            font-size: 1rem;
                            font-weight: bold;
                            margin-bottom: 0;
                            letter-spacing: 2px;
                            // margin-right: 1.5rem;
                            width: 165px;
                        }
                        textarea{
                            width: 100%;
                            border: solid 1px #e1e5ef;
                            color: #a8a8a8;
                            padding: 0.6rem 1rem;
                            margin-top: 1rem;
                            &::placeholder{
                                color:#a8a8a8;
                            }
                        }
                    }
                    .btn-submit{
                        width: 100%;
                        display:flex;
                        justify-content: flex-end;
                        button{
                            background-color: #de7733;
                            color: #fff;
                            padding: 1rem 1.5rem;
                            width: 270px;
                            text-transform: uppercase;
                            letter-spacing: 2px;
                            font-weight: bold;
                            border: solid 1px #de7733;
                            transition: all ease-in-out .5s;
                            @include tablet{
                                width: 100%;
                            }
                            &:hover{
                                background: transparent;
                                color: #de7733;
                            }
                        }
                    }
                }
            }
            .col-address{
                width: 48%;
                padding-top: 1.5rem;
                border-top: solid 1px #e1e5ef;
                @include tablet{
                    width: 100%;
                }
                h2{
                    color: #000;
                    text-transform: uppercase;
                    font-family: 'Lato', sans-serif;
                    font-size: 1.3rem;
                    letter-spacing: 4px;
                    font-weight: bold;
                    @include tablet{
                        font-size: .9rem;
                        letter-spacing: 3px;
                    }
                }
                address{
                    margin-top: 1.3rem;
                    margin-bottom: 2.3rem;
                    a{
                        color: #000;
                        text-decoration: none;
                        text-transform: uppercase;
                        font-family: 'Lato', sans-serif;
                        font-size: 1.1rem;
                        letter-spacing:2px;
                        li{
                            margin-bottom: .8rem;
                        }
                    }
                }
                .tel{
                    color: #000;
                    text-transform: uppercase;
                    font-family: 'Lato', sans-serif;
                    font-size: 1.1rem;
                    letter-spacing:2px;
                    li{
                        margin-bottom: 1.1rem;
                        a{
                            color: #000;
                            text-decoration: none;
                            font-size: 1.8rem;
                            font-weight: bold;
                            transition: all ease-in .5s;
                            &:hover{
                                color: #de7733;
                            }
                        }
                    }
                    li:nth-child(2){
                        padding-left: 3rem;
                    }
                }
                .email{
                    margin:2.2rem 0;
                    a{
                        color: #de7733;
                        text-transform: uppercase;
                        font-family: 'Lato', sans-serif;
                        font-size: 1.1rem;
                        letter-spacing:2px;
                        font-weight: bold;
                        text-decoration: none;
                        transition: all ease-in .5s;
                        &:hover{
                            color: #000;
                        }
                    }
                }
                .social-contanto{
                    display: flex;
                    align-items: center;
                    li{
                        margin: 0 1rem;
                        padding: .5rem;
                        border-radius: 50%;
                        border: solid 1px transparent;
                        transition: all ease-in-out .5s;
                        img{
                            width: 28px;
                        }
                        &:hover{
                            border: solid 1px #000;
                            background: #de7733;
                        }
                    }
                    li:nth-child(1){
                        margin-left: 0;
                    }
                }
            }
        }
    }
    .mapa{
        padding: 5rem 0;
    }
}