.main-curso{
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    .menu-nav{
        position: absolute;
        top: -91px;
        display: flex;
        width: 30%;
        height: 540px;
        @include tablet{
            width: 0;
        }
    }
}
.curso{
    width:100%;
    padding-bottom: 3.5rem;
    .banner-curso{
        background: url('../imgs/bg-residencia.jpg') no-repeat;
        background-size: cover;
        height:  500px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-position: center;
        @include tablet{
            height: 250px;
        }
        h2{
            color: #fff;
            text-transform: uppercase;
            letter-spacing: 5px;
            font-size:2rem;
            font-weight: bold;
            @include tablet{
                font-size: 1.1rem;
            }
        }
    }
    .cursos-page{
        padding: 3.5rem 0;
        @include tablet{
            padding: 3.5rem .5rem;
        }
        .content-cursos-page{
            display: flex;
            flex-wrap: wrap;
            @include tablet{
                flex-direction: column;
            }
            article{
                width: 31.8%;
                margin: 0 .5rem;
                margin-bottom: 3rem;
                @include tablet{
                    width: 100%;
                    margin: 1rem 0;
                }
                img{
                    width: 100%;
                    height: 500px;
                    object-fit: cover;
                    margin-bottom: 2.5rem;
                    transition: all .5s ease-in-out;
                    &:hover{
                        filter: brightness(0.5);
                    }
                }
                h4{
                    color: #000;
                    text-transform: uppercase;
                    font-family: 'Lato', sans-serif;
                    font-size: 1rem;
                    letter-spacing: 4px;
                    font-weight: bold;
    
                }
                p{
                    color:#666666;
                    font-size: .8rem;
                    margin-bottom: 1.3rem;
                }
                a{
                    text-decoration: none;
                }
                .saiba{
                    font-size: .8rem;
                    color: #000;
                    padding: .5rem;
                    border: solid 1px #000;
                    border-left: 0;
                    border-right: 0;
                    font-weight: 600;
                    letter-spacing: 2px;
                    text-decoration: none;
                    transition: all ease-in-out .5s;
                    &:hover{
                        background: #000;
                        color: #ffff;
                    }
                }
            }
        }
    }
}

.curso-destaque{
    width:100%;
    padding-bottom: 3.5rem;
    .banner-retiros{
        background: url('../imgs/bg-residencia.jpg') no-repeat;
        background-size: cover;
        height: 450px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-position: center;
        @include tablet{
            height: 250px;
        }
        h2{
            color: #fff;
            text-transform: uppercase;
            letter-spacing: 5px;
            font-size:2rem;
            font-weight: bold;
            @include tablet{
                font-size: 1.1rem;
            }
        }
    }
    .conteudo-destaque{
        display: flex;
        .curso-destaque-item{
            width:70%;
            .img-destaque{
               img{
                width: 100%;
                height: 430px;
                object-fit: cover;
                margin-top: 2rem;
                margin-bottom: 2rem;
               }
            }
            h2{
                margin-bottom:1rem;
            }
            p{
                color:#666666;
                font-size: .8rem;
            }
            iframe{
                width: 100%;
                height: 390px;
                margin: 1rem 0;
            }
            ul{
                li{
                    color:#666666;
                    font-size: .8rem;
                }
            }
        }
        .ultimos-cursos{
            width: 28%;
            margin-left: 2.3rem;
            margin-top:8rem;
            ul{
                li:nth-child(1){
                    padding: .5rem;
                    background: #ffc778;
                    color: #000;
                    text-transform: uppercase;
                    font-family: 'Lato', sans-serif;
                    font-size: .9rem;
                    letter-spacing: 4px;
                    text-align: center;
                    border-bottom:0;
                }
                li{
                    background: #e6e6e6;
                    text-align: center;
                    border-bottom: solid 1px;
                    transition: all ease-in-out .5s;
                    &:hover{
                        background: #fff;
                    }
                    a{
                        color: #000;
                        text-transform: uppercase;
                        font-family: 'Lato', sans-serif;
                        font-size: .9rem;
                        letter-spacing: 4px;
                        text-align: center;
                        text-decoration: none;
                        width: 100%;
                        display: block;
                        padding: .5rem;
                    }
                }
            }
        }
    }
    .curso-destaque-item{
        padding: 3.5rem 15px;
        h2{
            color: #000;
            text-transform: uppercase;
            font-family: 'Lato', sans-serif;
            font-size: 1.3rem;
            letter-spacing: 4px;
            font-weight: bold;
            text-align: center;
            max-width: 800px;
            margin: 0 auto;
        }
    }
}

