footer{
    background: #ffc778;
    padding: 1.3rem 0;
    .cont-footer{
        display: flex;
        align-items: center;
        @include tablet{
            flex-direction: column;
        }
        .mapa-site{
            width: 33.33%;
            @include tablet{
                width: 100%;
            }
            ul{
                h4{
                    font-size: .9rem;
                    letter-spacing: 2px;
                    color: #bc8563;
                }
                li{
                    margin-bottom: .9rem;
                    a{
                        color: #6d4c37;
                        font-weight: bold;
                        letter-spacing: 4px;
                        font-size: .9rem;
                        text-transform: uppercase;
                        font-family: 'Lato', sans-serif;
                        text-decoration: none;
                        transition: all ease-in-out .5s;
                        &:hover{
                            color: #000;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
        .img-footer{
            width: 33.33%;
            text-align: center;
            @include tablet{
                width: 100%;
                text-align: left;
                margin-bottom: 2rem;
            }
            img{
                width: 170px;
                @include tablet{
                    width: 130px;
                }
            }
        }
        .news{
            width: 33.33%;
            @include tablet{
                width: 100%;
            }
            h4{
                color: #6d4c37;
                font-weight: bold;
                letter-spacing: 4px;
                font-size: .9rem;
                text-transform: uppercase;
                font-family: 'Lato', sans-serif;
            }
            .form-news{
                display: flex;
                margin-top: 1.5rem;
                margin-bottom: 3.5rem;
                @include tablet{
                    margin-bottom: 2rem;
                    margin-top: 0;
                }
                input{
                    border: none;
                    border-bottom: solid 1px #fff;
                    background-color: transparent;
                    font-size: .9rem;
                    letter-spacing: 2px;
                    color: #bc8563;
                    width: 250px;
                    padding: .5rem;
                    @include tablet{
                        width: 80%;
                    }
                }
                button{
                    background: #000;
                    color: #fff;
                    font-family: 'Lato', sans-serif;
                    border: none;
                    padding: .5rem;
                    font-size: .8rem;
                    font-weight: bold;
                    width: 50px;
                    letter-spacing: 2px;
                    text-transform: uppercase;
                    transition: all ease-in-out .5s;
                    cursor: pointer;
                    &:hover{
                        color: #000;
                        background: #fff;
                    }
                }
            }
            .social-footer{
                @include tablet{
                    padding-left: 0;
                    margin-bottom: 2rem;
                }
                h4{
                    color: #6d4c37;
                    font-weight: bold;
                    letter-spacing: 4px;
                    font-size: .9rem;
                    text-transform: uppercase;
                    font-family: 'Lato', sans-serif;
                }
                ul{
                    display: flex;
                    margin-top: 1.3rem;
                }
                .item-social{
                    background: #fff;
                    padding: .5rem;
                    border-radius: 50%;
                    width: 39px;
                    height: 39px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transition: all ease-in-out .5s;
                    margin: 0 .5rem;
                    &:hoveR{
                        background: #bc8563;
                    }
                    img{
                        width: 23px;
                    }
                }
                .item-social:nth-child(1){
                    margin-left: 0;
                }
            }
        }
    }
    .info-bottom-footer{
        ul{
            display: flex;
            @include tablet{
                flex-direction: column;
            }
            li{
                margin-right: .5rem;
                @include tablet{
                    margin:0;
                }
                a{
                    font-size: .9rem;
                    letter-spacing: 2px;
                    color: #6d4c37;
                    transition: all ease-in-out .5s;
                    &:hover{
                        color: #000000;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}