.title-flex{
    display: flex;
    padding: 1.7rem 0;
    @include tablet{
        align-items: center;
    }
    h2 {
        color: #000;
        text-transform: uppercase;
        font-family: 'Lato', sans-serif;
        font-size: 1.3rem;
        letter-spacing: 4px;
        margin-bottom: 0;
        font-weight: bold;
        margin-right: 2.3rem;
        @include tablet{
            width: 70%;
        }
    }
    a{
        color: #000;
        font-size: .7rem;
        line-height: 25px;
        text-decoration: none;
        transition: all ease-in-out .5s;
        padding: 0 1rem;
        border-left: solid 1px #bcbcbc;
        font-weight: bold;
        @include tablet{
            width: 30%;
        }
        &:hover{
            color: #bc8563;
        }
    }
    img{
        width: 15px;
        margin-left:.5rem;
        @include tablet{
            display: none;
        }
    }
}

.menu{
    // width: 60px;
    // height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.hamburger{
    display: block;
    background: #000;
    height: 2px;
    width: 48px;
    position: relative;
    transition: .5s ease-in-out;

}
.hamburger::before, .hamburger::after{
    background: #000;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: .5s ease-in-out;
}
.hamburger::before{
    top:-10px;
}
.hamburger::after{
    bottom:  -10px;
}
#menu-hamburger{
    display: none;
}
#menu-hamburger:checked ~ label .hamburger{
    transform: rotate(45deg);
}
#menu-hamburger:checked ~ label .hamburger::before{
    transform: rotate(90deg);
    top: 0;
}
#menu-hamburger:checked ~ label .hamburger::after{
    transform: rotate(90deg);
    bottom: 0;
}
.menu-ativo-interno{
    width: 100%!important;
    transition: all ease-in-out .5s;
    opacity: 1!important;
    li{
        opacity: 1!important;
    }
}
.menu-nav-interno{
    width: 0%;
    height: 100vh;
    z-index: 999999999;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    background-size: 100%;
    background-position: center;
    background:#171616bf;
    opacity: 0;
    transition: all ease-in-out .5s;

    .item-x{
        position: absolute;
        top: 90px;
        right: -1180px;
        height: 60px;
        span{
            color: #fff;
            font-size: 2rem;
            cursor: pointer;
        }
    }
    li{
        pointer-events: auto;
        text-decoration: none;
        display: block;
        width: 100%;
        overflow: hidden;
        position: relative;
        right: 0;
        height: 100%;
        display: flex;
        align-items: center;
        padding: 1rem;
        transition: all ease-in-out .7s;
        opacity: 0;
        a{
            color: #fff;
            text-transform: uppercase;
            font-family: 'Lato', sans-serif;
            font-size: 1rem;
            letter-spacing: 4px;
            font-weight: bold;
            margin-left: 2rem;
            text-decoration: none;
            transition: all ease-in-out .5s;
            &:hover{
                color:  #ffc877;
            }
        }
    }
}
// .home-main{
//     display: flex;
//     flex-direction: row-reverse;
//     position: relative;
//   }
//   .home-page{
//       width: 100%;
//   }
  .menu-ativo{
    transition: all ease-in-out .5s;
    @include tablet{
        width: 100%!important;
    }
}
  .menu-nav{
      position: absolute;
      top: -91px;
      display: flex;
      width: 30%;
      height: 99vh;
      @include tablet{
        width: 0;
    }
      ul{
          position: relative;
          width: 100%;
          height: 100%;
          display: flex;
          background: url('../imgs/bg-menu.jpg');
          background-size: cover;
          margin-bottom: 0;
      }
      li{
          pointer-events: auto;
          text-decoration: none;
          display: block;
          width: 25%;
          overflow: hidden;
          height: 0;
          position: relative;
          right: 0;
          height: 100%;
          border-right: solid 1px #fff;
          border-top: 0;
          border-bottom: 0;
          display: flex;
          flex-direction: column;
          align-items: center;
          padding-top: 1rem;
          transition: all ease-in-out .5s;
              &:hover{
                  background: #0000005e;
              }
          a{
              transform: rotate(90deg);
              font-size: 14px;
              color: #fff;
              letter-spacing: 4px;
              line-height: 14px;
              position: absolute;
              left: calc(50% - 150px);
              top: 220px;
              text-transform: uppercase;
              width: 300px;
              text-decoration: none;
          }
          img{
              width: 43px;
              // height: 33px;
          }
      }
      li:nth-child(3){
          img{
              width: 35px;
          }
      }
      li:nth-child(2){
          img{
              width: 32px;
          }
      }
      li:nth-child(4){
          img{
              width:32px;
          }
      }
      li:nth-child(5){
          img{
              width:37px;
          }
      }
  }