.main-glandula{
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    .menu-nav{
        position: absolute;
        top: -91px;
        display: flex;
        width: 30%;
        height: 540px;
        @include tablet{
            width: 0;
        }
    }
}
.glandula{
    width: 100%;
    .banner-glandula{
        background: url('../imgs/bg-glandula.png') no-repeat;
        background-size: cover;
        height: 500px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-position: center;
        @include tablet{
            height: 250px;
        }
    }
    .chamada-lab{
        padding: 3rem 0;
        @include tablet{
            padding: 3rem 15px;
        }
        h2{
            color: #000;
            text-transform: uppercase;
            font-family: 'Lato', sans-serif;
            font-size: 1.3rem;
            letter-spacing: 4px;
            font-weight: bold;
            text-align: center;
            max-width: 800px;
            margin: 0 auto;
            @include tablet{
                font-size: .9rem;
                letter-spacing: 3px;
            }
        }
        p{
            margin: 2rem auto 0 auto;
            color:#666666;
            font-size: .8rem;
            max-width: 800px;
            text-align: center;
        }
    }
    .video-lab{
        h2{
            color: #000;
            text-transform: uppercase;
            font-family: 'Lato', sans-serif;
            font-size: 1.3rem;
            letter-spacing: 4px;
            font-weight: bold;
            margin: 2rem 0;
            @include tablet{
                font-size: .9rem;
                letter-spacing: 3px;
            }
        }
    }
    .cont-video-lab{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        @include tablet{
            flex-direction: column;
        }
        .item-video{
            width: 49%;
            margin-bottom: 1.3rem;
            @include tablet{
                width: 100%;
            }
            iframe{
                width: 100%;
                height: 320px;
            }
        }
    }
    .agendar-lab{
        padding: 2.5rem 15px;
        h2{
            color: #000;
            text-transform: uppercase;
            font-family: 'Lato', sans-serif;
            font-size: 1.3rem;
            letter-spacing: 4px;
            font-weight: bold;
            margin: 2rem 0;
            text-align: center;
            @include tablet{
                font-size: .9rem;
                letter-spacing: 3px;
            }
        }
        p{
            margin: 2rem auto 0 auto;
            color:#666666;
            font-size: .8rem;
            max-width: 800px;
            text-align: center;
        }
    }
    .btn-agendar{
        display: flex;
        justify-content: center;
        margin: 2.5rem 0;
        a{
            padding: 1.5rem;
            background: #000000;
            color: #fff;
            text-decoration: none;
            text-transform: uppercase;
            font-family: 'Lato', sans-serif;
            font-size: .9rem;
            letter-spacing: 4px;
            font-weight: bold;
            border: solid 1px #000;
            transition: all ease-in-out .5s;
            &:hover{
                background: #fff;
                color: #000;
            }
        }
    }
    .galeria-glandula{
        .cont-galeria-glandula{
            display: flex;
            justify-content: space-between;
            @include tablet{
                flex-direction: column;
            }
            .col-img-destaque{
                width: 68%;
                @include tablet{
                    width: 100%;
                }
                img{
                    width: 100%;
                    height: 453px;
                    object-fit: cover;
                    @include tablet{
                        height: 223px;
                        margin-bottom: 2rem;
                    }
                }
            }
            .col-thumb{
                width: 30%;
                @include tablet{
                    width: 100%;
                }
                ul{
                    display: flex;
                    flex-wrap: wrap;
                    margin-bottom: 0;
                    li{
                        width: 45%;
                        margin: .5rem;
                        img{
                            width: 100%;
                        }
                    }
                    li:nth-child(1){
                        margin-top: 0;
                    }
                    li:nth-child(2){
                        margin-top: 0;
                    }
                }
               
            }
        }
    }
}