header{
    background: #ffc877;
    // height: 47px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 130px;
    .header-top{
        width: 100%;
        ul{
            width: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding: .3rem .5rem;
            background: #000;
            li{
                margin: 0 .5rem;
                line-height: 27px;
                a{
                    color: #fbbf74;
                    text-transform: uppercase;
                    letter-spacing: 4px;
                    font-family: 'Lato', sans-serif;
                    font-weight: bold;
                    font-size: .6rem;
                    text-decoration: none;
                    transition: all ease-in-out .5s;
                    &:hover{
                        color: #fff;
                    }
                }
            }
        }
    }
    .cont-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}