// .home-main{
//   display: flex;
//   flex-direction: row-reverse;
//   position: relative;
// }
// .home-page{
//     width: 100%;
// }
.menu-ativo{
    transition: all ease-in-out .5s;
    @include tablet{
        width: 100%!important;
    }
}
.menu-ativo{
    transition: all ease-in-out .5s;
    @include tablet{
        width: 100%!important;
    }
}
.menu-nav{
    position: absolute;
    top: 39px;
    display: flex;
    width: 30%;
    height: 99vh;
    right: 0;
    @include tablet{
        width: 0;
    }
    ul{
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        background: url('../imgs/bg-menu.jpg');
        background-size: cover;
        z-index: 9999999999999999;
    }
    li{
        pointer-events: auto;
        text-decoration: none;
        display: block;
        width: 25%;
        overflow: hidden;
        height: 0;
        position: relative;
        right: 0;
        height: 100%;
        border-right: solid 1px #fff;
        border-top: 0;
        border-bottom: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 1rem;
        transition: all ease-in-out .5s;
            &:hover{
                background: #0000005e;
            }
        a{
            transform: rotate(90deg);
            font-size: 14px;
            color: #fff;
            letter-spacing: 4px;
            line-height: 14px;
            position: absolute;
            left: calc(50% - 150px);
            top: 220px;
            text-transform: uppercase;
            width: 300px;
            text-decoration: none;
        }
        img{
            width: 43px;
            // height: 33px;
        }
    }
    li:nth-child(3){
        img{
            width: 35px;
        }
    }
    li:nth-child(2){
        img{
            width: 32px;
        }
    }
    li:nth-child(4){
        img{
            width:32px;
        }
    }
    li:nth-child(5){
        img{
            width:37px;
        }
    }
}
.banner{
    background-color: #ffc877;
    height: 85vh;
    .carousel-item{
        height: 100%;
    }
    .cont-banner{
        display: flex;
        align-items: center;
        height: 100%;
        @include tablet{
            flex-direction: column-reverse;
            justify-content: center;
        }
        .info-banner{
            width: 51%;
            @include tablet{
                width: 100%;
            }
            h2{
                color: #000;
                text-transform: uppercase;
                font-family: 'Lato', sans-serif;
                font-size: 1rem;
                letter-spacing: 4px;
                font-weight: bold;
            }
            p{
                max-width: 285px;
                font-size: .9rem;
                margin-bottom: 1.5rem;
            }
            a{
                font-size: .8rem;
                color: #000;
                padding: .5rem;
                border: solid 1px #000;
                border-left: 0;
                border-right: 0;
                font-weight: 600;
                letter-spacing: 2px;
                text-decoration: none;
                transition: all ease-in-out .5s;
                &:hover{
                    background: #000;
                    color: #ffff;
                }
            }
        }
        .img-banner{
            width: 89%;
            @include tablet{
                width: 100%;
                text-align: center;
            }
            img{
                width: 280px;
                @include tablet{
                    width: 160px;
                    margin-bottom: 1rem;
                }
            }
        }
    }
}
.chamada-home{
    padding: 3.5rem 0;
    .cont-chamda-home{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    h2{
        color: #000;
        text-transform: uppercase;
        font-family: 'Lato', sans-serif;
        font-size: 1.3rem;
        letter-spacing: 4px;
        font-weight: bold;
        text-align: center;
        @include tablet{
            margin-bottom: 1rem;
        }
    }
    p{
        color:#000;
        font-size: .8rem;
        text-align: center;
    }
    iframe{
        width: 730px;
        height: 390px;
        margin-top:1rem;
        @include tablet{
            width: 100%;
            height: 200px;
        }
    }
}
.curso-destaque-home{
    padding: 3.5rem 0;
    @include tablet{
        padding: 3.5rem .5rem;
    }
    .cont-curso-destaque{
        display: flex;
        flex-wrap: wrap;
        @include tablet{
            flex-direction: column;
        }
        article{
            width: 31.8%;
            margin: 0 .5rem;
            @include tablet{
                width: 100%;
                margin: 1rem 0;
            }
            img{
                width: 100%;
                height: 500px;
                object-fit: cover;
                margin-bottom: 2.5rem;
                transition: all .5s ease-in-out;
                &:hover{
                    filter: brightness(0.5);
                }
            }
            h4{
                color: #000;
                text-transform: uppercase;
                font-family: 'Lato', sans-serif;
                font-size: 1rem;
                letter-spacing: 4px;
                font-weight: bold;

            }
            p{
                color:#666666;
                font-size: .8rem;
                margin-bottom: 1.3rem;
            }
            a{
                text-decoration: none;
            }
            .saiba{
                font-size: .8rem;
                color: #000;
                padding: .5rem;
                border: solid 1px #000;
                border-left: 0;
                border-right: 0;
                font-weight: 600;
                letter-spacing: 2px;
                text-decoration: none;
                transition: all ease-in-out .5s;
                &:hover{
                    background: #000;
                    color: #ffff;
                }
            }
        }
    }
}
.noticia-home{
    padding: 3.5rem 0;
    @include tablet{
        padding: 0rem .5rem 3.5rem;
    }
    .content-noticia{
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        grid-template-rows: 180px 180px 180px 180px;
        grid-gap: 25px;
        @include tablet{
            grid-template-rows: 180px 180px 180px 180px  180px 180px 180px 180px 180px;
            grid-gap:5px;

        }
        a{
            color: #000;
            text-decoration: none;
        }
        .titulo-noticia-home{
            margin-top: 2rem;
            h4{
                color: #000;
                text-transform: uppercase;
                font-family: 'Lato', sans-serif;
                font-size: 1rem;
                letter-spacing: 4px;
                font-weight: bold;
            }
            p{
                color: #666666;
                font-size: .8rem;
                line-height: 17px;
                margin-bottom: 1.3rem;
                word-break: break-word;
            }
            .saiba{
                font-size: .8rem;
                color: #000;
                padding: .5rem;
                border: solid 1px #000;
                border-left: 0;
                border-right: 0;
                font-weight: 600;
                letter-spacing: 2px;
                text-decoration: none;
                transition: all ease-in-out .5s;
                &:hover{
                    background: #000;
                    color: #ffff;
                }
            }
        }
        img{
            width: 100%;
            transition: all .5s ease-in-out;
            &:hover{
                filter: brightness(0.5);
            }
        }
        article:nth-child(1){
            width: 100%;
            grid-column: 1/2;
            grid-row: 1/5;
            @include tablet{
                grid-column: 1/5;
                grid-row: 1/4;

            }
            img{
                height: 590px;
                object-fit: cover;
                @include tablet{
                    height: 370px;
                    width: 100%!important;
                }
            }
        }
        article:nth-child(2){
            width: 100%;
            /* height: 100px; */
            grid-column: 2/4;
            grid-row: 1/1;
            @include tablet{
                grid-row: 4/5;
                grid-column: 1/5;
            }
            .titulo-noticia-home{
                margin-top: 0;
                margin-left: 1.5rem;
                width: 50%;
                @include tablet{
                    margin-left: 0;
                    width: 100%;
                }
            }
            a{
                display: flex;
                @include tablet{
                    flex-direction: column;
                }
            }
            p{
                margin-bottom: 14px;
                word-break: break-word;
                margin-top: 0;
            }
            img{
                width: 271px;
                height: 180px;
                object-fit: cover;
                @include tablet{
                    width: 100%;
                    margin-bottom: 1.3rem;
                }
            }
        }
        article:nth-child(3){
            width: 100%;
            grid-column: 2/2;
            grid-row: 2/5;
            @include tablet{
                grid-column: 1/5;
                grid-row: 6/7;
            }
            img{
                height: 385px;
                object-fit: cover;
                @include tablet{
                    height: 190px;
                }
            }
        }
        article:nth-child(4){
            width: 100%;
            grid-column: 3/3;
            grid-row: 2/5;
            @include tablet{
                grid-column: 1/5;
                grid-row: 8/9;
            }
            img{
                height: 385px;
                object-fit: cover;
                @include tablet{
                    height: 190px;
                }
            }
        }
    }
}
.paralax{
    background: url('../imgs/bg-paralax.jpg');
    background-size: 120% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 75vh;
    @include tablet{
        display: none;
    }
}