.main-sobre{
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    .menu-nav{
        position: absolute;
        top: -91px;
        display: flex;
        width: 30%;
        height: 540px;
        @include tablet{
            width: 0%;
        }
    }
}
.sobre{
    width: 100%;
    .banner-sobre{
        background: url('../imgs/bg-quem-somos.jpg') no-repeat;
        background-size: cover;
        height: 500px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-position: center;
        @include tablet{
            height: 250px;
        }
        h2{
            color: #fff;
            text-transform: uppercase;
            letter-spacing: 5px;
            font-size: 2.2rem;
            font-weight: bold;
            @include tablet{
                font-size: 1.1rem;
            }
        }
    }
    .chamada-sobre{
        padding: 3rem 0;
        @include tablet{
            padding: 3rem 15px;
        }
        h2{
            color: #000;
            text-transform: uppercase;
            font-family: 'Lato', sans-serif;
            font-size: 1.3rem;
            letter-spacing: 4px;
            font-weight: bold;
            text-align: center;
            max-width: 800px;
            margin: 0 auto;
            @include tablet{
                font-size: .9rem;
                letter-spacing: 3px;
            }
        }
        p{
            margin: 2rem auto 0 auto;
            color:#666666;
            font-size: .8rem;
            max-width: 800px;
            text-align: center;
        }
    }
    .principais-atividades{
        .title-flex{
            justify-content: space-between;
            @include tablet{
                justify-content: flex-start;
            }
            h2{
                margin-right: 0;
                margin-left:3.3rem;
                @include tablet{
                    margin-left: 0;
                }
            }
            .opacity{
                opacity: 0;
                @include tablet{
                    display: none;
                }
            }
        }
        .cont-atividades{
            display: flex;
            flex-wrap: wrap;
            padding-bottom: 3.5rem;
            @include tablet{
                flex-direction: column;
            }
            article{
                width: 31.8%;
                margin: 0 .5rem;
                @include tablet{
                    width: 100%;
                    margin:1.3rem 0;
                }
                img{
                    width: 100%;
                    height: 500px;
                    object-fit: cover;
                    margin-bottom: 1rem;
                    transition: all .5s ease-in-out;
                    &:hover{
                        filter: brightness(0.5);
                    }
                }
                h4{
                    color: #000;
                    text-transform: uppercase;
                    font-family: 'Lato', sans-serif;
                    font-size: 1rem;
                    letter-spacing: 4px;
                    font-weight: bold;

                }
                p{
                    color:#666666;
                    font-size: .8rem;
                    margin-bottom: 1.3rem;
                }
                a{
                    text-decoration: none;
                }
                .saiba{
                    font-size: .8rem;
                    color: #000;
                    padding: .5rem;
                    border: solid 1px #000;
                    border-left: 0;
                    border-right: 0;
                    font-weight: 600;
                    letter-spacing: 2px;
                    text-decoration: none;
                    transition: all ease-in-out .5s;
                    &:hover{
                        background: #000;
                        color: #ffff;
                    }
                }
            }
        }
    }
    .integrantes{
        padding: 2.5rem 0;
        .cont-integrantes{
            display: flex;
            justify-content: center;
            margin-bottom: 3rem;
            padding: 3rem 0;
            @include tablet{
                flex-direction: column-reverse;
            }
            .img-integrantes{
                display: flex;
                align-items: center;
                position: relative;
                width: 50%;
                @include tablet{
                    width: 100%;
                }
                img{
                    width: 430px;
                    height: 400px;
                    object-fit: cover;
                    position: absolute;
                    right: -38px;
                    @include tablet{
                        width: 100%;
                        right: 0;
                        position: relative;
                    }
                }
            }
            .info-integrantes{
                width: 50%;
                background: #ffc778;
                padding: 2rem;
                @include tablet{
                    width: 100%;
                    padding: 1.5rem  1.3rem;
                }
                .content{
                    max-width: 410px;
                    margin: 0 auto;
                    h3{
                        text-transform: uppercase;
                        font-size: 1.4rem;
                        font-weight: bold;
                        letter-spacing: 4px;
                    }
                    p{
                        font-size: .9rem;
                        text-align: justify;
                    }
                } 
            }
        }
        .cont-integrantes:nth-child(even){
            flex-direction: row-reverse;
            @include tablet{
                flex-direction: column-reverse;
            }
            img{
                left: -38px;
                right: inherit;
                @include tablet{
                    left: 0;
                }
            }
        }
    }
    .sobre-video {
        padding: 3rem 15px;
        @include tablet{
            padding: 0 15px;
        }
        iframe{
            width: 100%!important;
            height: 540px;
            @include tablet{
                height: 200px;
            }
        }
    }
}