.main-residencia{
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    .menu-nav{
        position: absolute;
        top: -91px;
        display: flex;
        width: 30%;
        height: 540px;
        @include tablet{
            width: 0;
        }
    }
}
.residencia{
    width:100%;
    padding-bottom: 3.5rem;
    .banner-residencia{
        background: url('../imgs/bg-residencia.jpg') no-repeat;
        background-size: cover;
        height: 500px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-position: center;
        @include tablet{
            height: 250px;
        }
        h2{
            color: #fff;
            text-transform: uppercase;
            letter-spacing: 5px;
            font-size:2rem;
            font-weight: bold;
            @include tablet{
                font-size: 1.1rem;
            }
        }
    }
    .chamada-residencia{
        .cont-residencia{
            display: flex;
            padding: 2.5rem 0;
            @include tablet{
                flex-direction: column;
                text-align: center;
            }
        }
        h2{
            color: #000;
            text-transform: uppercase;
            font-family: 'Lato', sans-serif;
            font-size: 1.3rem;
            letter-spacing: 4px;
            font-weight: bold;
            margin: 0 auto;
            width: 100%;
            @include tablet{
                margin-bottom: 1rem;
            }
        }
        p{
            color:#000;
            font-size: .8rem;
            max-width: 600px;
        }
    }
    .espacos{
        article{
            display: flex;
            justify-content: space-between;
            margin-bottom: 3.5rem;
            @include tablet{
                flex-direction: column;
            }
            .img-espaco{
                width: 48%;
                @include tablet{
                    width: 100%;
                }
                img{
                    width: 100%;
                    height: 280px;
                    object-fit: cover;
                }
            }
            .info-espaco{
                width:48%;
                @include tablet{
                    width: 100%;
                    margin-top: 1rem;
                }
                h3{
                    color: #000;
                    text-transform: uppercase;
                    font-family: 'Lato', sans-serif;
                    font-size: 1.3rem;
                    letter-spacing: 4px;
                    font-weight: bold;
                    margin-bottom: 1.2rem;
                }
                p{
                    color:#000;
                    font-size: .8rem;
                    max-width: 600px;
                    margin-bottom: .5rem;
                }
            }
        }
    }
    .galeria{
        .cont-galeria{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 180px 180px 180px 180px 180px 180px;
            grid-gap: 25px;
            @include tablet{
                grid-template-rows: 180px 180px 180px 180px  180px 180px 180px 180px 180px 180px 180px;
                grid-gap:5px;
    
            }
            .link-img:nth-child(1){
                width: 100%;
                grid-column: 1/3;
                grid-row: 1/4;
                @include tablet{
                    grid-column: 1/5;
                    grid-row: 1/3;
    
                }
                .img-destacada{
                    height: 590px;
                    object-fit: cover;
                    width: 100%;
                    @include tablet{
                        height: 366px;
                        width: 100%!important;
                    }
                }
            }
            .link-img:nth-child(2){
                width: 100%;
                /* height: 100px; */
                grid-column: 3/4;
                grid-row: 1/1;
                @include tablet{
                    grid-row: 3/5;
                    grid-column: 1/5;
                }
                .img-destacada{
                    width: 271px;
                    height: 180px;
                    object-fit: cover;
                    width: 100%;
                    @include tablet{
                        width: 100%;
                        margin-bottom: 1.3rem;
                    }
                }
            }
            .link-img:nth-child(3){
                width: 100%;
                /* height: 100px; */
                grid-column: 4/5;
                grid-row: 1/1;
                @include tablet{
                    grid-row: 4/5;
                    grid-column: 1/5;
                }
                .img-destacada{
                    width: 271px;
                    height: 180px;
                    object-fit: cover;
                    width: 100%;
                    @include tablet{
                    width: 100%;
                    margin-bottom: 1.3rem;
                    }
                }
            }
            .link-img:nth-child(4){
                width: 100%;
                grid-column: 3/4;
                grid-row: 2/4;
                @include tablet{
                    grid-column: 1/5;
                    grid-row: 5/6;
                }
                .img-destacada{
                    height: 385px;
                    object-fit: cover;
                    width: 100%;
                    @include tablet{
                        height: 180px;
                    }
                }
            }
            .link-img:nth-child(5){
                width: 100%;
                grid-column: 4/5;
                grid-row: 2/4;
                @include tablet{
                    grid-column: 1/5;
                    grid-row: 6/7;
                }
                .img-destacada{
                    height: 385px;
                    object-fit: cover;
                    width: 100%;
                    @include tablet{
                        height: 180px;
                    }
                }
            }
            .link-img:nth-child(6){
                width: 100%;
                grid-column: 1;
                grid-row: 4/5;
                @include tablet{
                    grid-column: 1/5;
                    grid-row: 7/8;
                }
                .img-destacada{
                    height: 180px;
                    object-fit: cover;
                    width: 100%;
                    @include tablet{
                        height: 180px;
                    }
                }
            }
            .link-img:nth-child(7){
                width: 100%;
                grid-column: 2/3;
                grid-row: 4/5;
                @include tablet{
                    grid-column: 1/5;
                    grid-row: 8/9;
                }
                .img-destacada{
                    height: 180px;
                    object-fit: cover;
                    width: 100%;
                    @include tablet{
                        height: 180px;
                    }
                }
            }
            .link-img:nth-child(8){
                width: 100%;
                grid-column:1/2;
                grid-row: 5/7;
                @include tablet{
                    grid-column: 1/5;
                    grid-row: 9/10;
                }
                .img-destacada{
                    height: 385px;
                    object-fit: cover;
                    width: 100%;
                    @include tablet{
                        height: 180px;
                    }
                }
            }
            .link-img:nth-child(9){
                width: 100%;
                grid-column:2/3;
                grid-row: 5/7;
                @include tablet{
                    grid-column: 1/5;
                    grid-row: 10/11;
                }
                .img-destacada{
                    height: 385px;
                    object-fit: cover;
                    width: 100%;
                    @include tablet{
                        height: 180px;
                    }
                }
            }
            .link-img:nth-child(10){
                width: 100%;
                grid-column: 3/6;
                grid-row: 4/7;
                @include tablet{
                    grid-column: 1/5;
                    grid-row: 11/12;
                }
                .img-destacada{
                    height: 590px;
                    object-fit: cover;
                    width: 96%;
                    @include tablet{
                        height: 180px;
                    }
                }
            }
        }
    }
    .agende{
        display: flex;
        justify-content: center;
        margin-top: 4.5rem;
        a{
            padding: 1.5rem;
            background: #000000;
            color: #fff;
            text-decoration: none;
            text-transform: uppercase;
            font-family: 'Lato', sans-serif;
            font-size: .9rem;
            letter-spacing: 4px;
            font-weight: bold;
            border: solid 1px #000;
            transition: all ease-in-out .5s;
            &:hover{
                color: #000;
                background: transparent;
            }
        }
    }
}

.agendar{
    padding-top: 2.5rem;
    h2{
        color: #000;
        text-transform: uppercase;
        font-family: 'Lato', sans-serif;
        font-size: 1.3rem;
        letter-spacing: 4px;
        font-weight: bold;
        margin: 0 auto;
        width: 100%;
        text-align: center;
        @include tablet{
            margin-bottom: 1rem;
        }
    }
    .wpcf7{
        display: flex;
        flex-direction: column;
        max-width: 600px;
        margin: 2.5rem auto;
        .resposta{
            display: flex;
            align-items: center;
        }
        h3{
            color: #de7733;
            text-transform: uppercase;
            font-family: 'Lato', sans-serif;
            font-size: .9rem;
            font-weight: bold;
            margin-bottom: 1.3rem;
            letter-spacing: 2px;
            margin-top: 3rem;
        }
        .input-form{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 1.5rem 0;
            border-top: solid 1px #e1e5ef;
            @include tablet{
                flex-direction: column;
                align-items: flex-start;
            }
            label{
                color: #000;
                text-transform: uppercase;
                font-family: 'Lato', sans-serif;
                font-size: 1rem;
                font-weight: bold;
                margin-bottom: 0;
                letter-spacing: 2px;
                // margin-right: 1.5rem;
                width: 325px;
                @include tablet{
                    margin-bottom: .7rem;
                    @include tablet{
                        width: 100%;
                    }
                }
            }
            .radio-input{
                width: inherit;
            }
            input{
                width: 80%;
                border: solid 1px #e1e5ef;
                color: #a8a8a8;
                padding: 0.6rem 1rem;
                &::placeholder{
                    color:#a8a8a8;
                }
            }
            span{
                color: #000;
                font-family: 'Lato', sans-serif;
                font-size: 1rem;
                font-weight: bold;
                margin-bottom: 0;
                letter-spacing: 2px;
                margin-left: .5rem;
            }
            select{
                width: 310px;
                border: solid 1px #e1e5ef;
                color: #a8a8a8;
                padding: 0.6rem 1rem;
                &::placeholder{
                    color:#a8a8a8;
                }
            }
        }
        .textarea-form{
            display: flex;
            flex-direction: column;
            padding: 1.5rem 0;
            border-top: solid 1px #e1e5ef;
            label{
                color: #000;
                text-transform: uppercase;
                font-family: 'Lato', sans-serif;
                font-size: 1rem;
                font-weight: bold;
                margin-bottom: 0;
                letter-spacing: 2px;
                // margin-right: 1.5rem;
                width: 165px;
            }
            textarea{
                width: 100%;
                border: solid 1px #e1e5ef;
                color: #a8a8a8;
                padding: 0.6rem 1rem;
                margin-top: 1rem;
                &::placeholder{
                    color:#a8a8a8;
                }
            }
        }
        .btn-enviar{
            width: 100%;
            display:flex;
            justify-content:center;
            button{
                background-color: #de7733;
                color: #fff;
                padding: 1rem 1.5rem;
                width: 350px;
                text-transform: uppercase;
                letter-spacing: 2px;
                font-weight: bold;
                border: solid 1px #de7733;
                transition: all ease-in-out .5s;
                @include tablet{
                    width: 100%;
                }
                &:hover{
                    background: transparent;
                    color: #de7733;
                }
            }
        }
    }
}