.main-retiros{
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    .menu-nav{
        position: absolute;
        top: -91px;
        display: flex;
        width: 30%;
        height: 540px;
        @include tablet{
            width: 0;
        }
    }
}
.retiros{
    width: 100%;
    .banner-retiros{
        background: url('../imgs/bg-retiros.jpg') no-repeat;
        background-size: cover;
        height: 500px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-position: center;
        @include tablet{
            height: 250px;
        }
        h2{
            color: #fff;
            text-transform: uppercase;
            letter-spacing: 5px;
            font-size: 2.7rem;
            font-weight: bold;
            @include tablet{
                font-size: 1.1rem;
            }
        }
    }
    .chamada-retiros{
        .cont-retiros{
            display: flex;
            padding: 2.5rem 0;
            @include tablet{
                flex-direction: column;
                text-align: center;
            }
        }
        h2{
            color: #000;
            text-transform: uppercase;
            font-family: 'Lato', sans-serif;
            font-size: 1.3rem;
            letter-spacing: 4px;
            font-weight: bold;
            margin: 0 auto;
            width: 100%;
            @include tablet{
                margin-bottom: 1rem;
            }
        }
        p{
            color:#000;
            font-size: .8rem;
            max-width: 600px;
        }
    }
    .agenda-retiros{
        .title-flex{
            justify-content: space-between;
            h2{
                margin-right: 0;
                margin-left: 3.3rem;
                @include tablet{
                    margin-left: 0;
                }
            }
            .opacity{
                opacity: 0;
                @include tablet{
                    display: none;
                }
            }
        }
        .cont-agenda-retiros{
            display: flex;
            flex-wrap: wrap;
            padding-bottom: 3.5rem;
            @include tablet{
                flex-direction: column;
                padding-bottom: 0;
            }
            article{
                width: 31.8%;
                margin: 0 .5rem;
                @include tablet{
                    width: 100%;
                    margin: 2rem 0;
                }
                .img-data{
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    img{
                        width: 100%;
                        height: 500px;
                        object-fit: cover;
                        margin-bottom: 2.5rem;
                        transition: all .5s ease-in-out;
                        @include tablet{
                            margin-bottom: 1rem;
                        }
                        &:hover{
                            filter: brightness(0.5);
                        }
                    }
                    .data-inicio{
                        background: #ffc877;
                        color: #000;
                        padding: .5rem;
                        font-size: .7rem;
                        position: absolute;
                        bottom: 40px;
                        text-transform: uppercase;
                        transition: all ease-in-out .5s;
                    }
                }
                h4{
                    color: #000;
                    text-transform: uppercase;
                    font-family: 'Lato', sans-serif;
                    font-size: 1rem;
                    letter-spacing: 4px;
                    font-weight: bold;

                }
                p{
                    color:#666666;
                    font-size: .8rem;
                    margin-bottom: 1.3rem;
                }
                a{
                    text-decoration: none;
                }
                .saiba{
                    font-size: .8rem;
                    color: #000;
                    padding: .5rem;
                    border: solid 1px #000;
                    border-left: 0;
                    border-right: 0;
                    font-weight: 600;
                    letter-spacing: 2px;
                    text-decoration: none;
                    transition: all ease-in-out .5s;
                    &:hover{
                        background: #000;
                        color: #ffff;
                    }
                }
            }
        }
    }
    .curso-anteriores{
        padding: 2.5rem 15px;
        .cont-cursos-anteriores{
            .item-curso-anteriores{
                display: flex;
                justify-content: space-between;
                margin-bottom: 3.5rem;
                @include tablet{
                    flex-direction: column;
                }
                .video-curso-anteriores{
                    width: 48%;
                    @include tablet{
                        width: 100%;
                    }
                    iframe{
                        width: 100%;
                        height: 290px;
                    }
                }
                .info-cursos-anteriores{
                    width:48%;
                    @include tablet{
                        width: 100%;
                        margin-top: 1.4rem;
                    }
                    h2{
                        color: #000;
                        text-transform: uppercase;
                        font-family: 'Lato', sans-serif;
                        font-size: 1.3rem;
                        letter-spacing: 4px;
                        font-weight: bold;
                        margin-bottom: 1.2rem;
                    }
                    .saiba{
                        font-size: .8rem;
                        color: #000;
                        padding: .5rem;
                        border: solid 1px #000;
                        border-left: 0;
                        border-right: 0;
                        font-weight: 600;
                        letter-spacing: 2px;
                        text-decoration: none;
                        transition: all ease-in-out .5s;
                        display: block;
                        margin-top: 2.5rem;
                        width: 220px;
                        &:hover{
                            background: #000;
                            color: #ffff;
                        }
                    }
                    p{
                        color:#000;
                        font-size: .8rem;
                        max-width: 600px;
                    }
                }
            }
        }
        
    }
}