
@import 'responsivo';
@import 'geral';
@import 'footer';
@import 'header';
@import 'home';
@import 'quem-somos';
@import 'retiros';
@import 'residencia';
@import 'noticia';
@import 'contato';
@import 'glandula';
@import 'curso';
@import 'atividade';



@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');


html {scroll-behavior: smooth;font-family: 'Lato', sans-serif;}
